@import 'src/styles/common';

.navigation {
  @include flex(space-between, center);

  width: 100%;
  height: 100vh;

  & .menu {
    @include flex(space-evenly, center);
    flex-wrap: wrap;
    width: inherit;
    height: 100%;

    &__list {

    }

    &__list-link {
      max-width: 7rem;
      max-height: 10rem;
      background: #3498db;
      padding: 5rem 3rem;
      margin: 1rem;
    }

  }
}
